.cover__link {
  text-decoration: none;
  width: 100%;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  z-index: 0;
  position: relative;
}

.cover__link::before {
  content: '';
  height: 100%;
  background: url(../../../images/cover.jpg) no-repeat center/cover;
  position: absolute;
  opacity: 0.8;
  aspect-ratio: 8/5;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.3;
}
