.cover__link {
  text-decoration: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background: url(../../../images/cover-trains.jpg) no-repeat center/cover;
  aspect-ratio: 8/5;
  z-index: 0;
  position: relative;
  box-sizing: border-box;
}

.cover__link::before {
  content: '';
  height: 100%;
  background-color: #2A2C2F;
  position: absolute;
  opacity: 0.3;
  aspect-ratio: 8/5;
  top: 0px;
  left: 0px;
  z-index: -1;
}

.cover__link:hover::before {
  opacity: 0.8;
}
